@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
  --main-color: #f8f8f6;
  --secondary-color: #a0c3e2;
  --third-color: #027dc5;
  --background-color: #d9dad9;
}

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

button {
  border-radius: 50px;
  background-color: var(--main-color);
  color: var(--third-color);
  border-color: var(--secondary-color);
  font-weight: 500;
  position: relative;
  padding: 0 1%;
  margin: 0 1%;
}

button:hover {
  box-shadow: 0 10px 14px 0 rgba(20,20,20,0.24), 0 15px 30px 0 rgba(20,20,20,0.19);
}

hr {
  border: 1px solid var(--secondary-color);
}

.container {
  background-color: var(--main-color);
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 50px; 
  padding: 1.5%;
}

.header {
  color: white;
  background-color: var(--third-color);
  width: 100%;
  border-radius: 50px; 
  padding: 0.5%;
  text-align: center;
  margin-bottom: 3%;
}

.header p {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1%;
  background-color: var(--third-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.footer a {
  text-decoration: none;
  color:white;
}